<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc
		https://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!-- bean definitions here this is our bean-->
    <bean class="com.example.demo.Student" name="student1">
        <property name="id">
            <value>172</value>
        </property>
        <property name="studentName">
            <value>Anupam Sharma</value>
        </property>
<!--        <property name="studentAddress">-->
<!--            <value>Banglore</value>-->
<!--        </property>-->
        <property name="studentAddress" value="Banglore"/>
<!--        this is how we can set name and value using p schema-->
    </bean>
    <bean class="com.example.demo.Student" name="student2" p:id="82" p:studentName="sharma" p:studentAddress="Banglore"></bean>
<!--    this is how we can do in p schema-->
</beans>